<h2 style="text-align: center;">Edit</h2>
<div style="display: grid;grid-template-columns: 1fr 1fr 1fr;">
    <div></div>
<form action="/edit" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">New email address</label>
    <input name="email" type="email" placeholder="new Email" class="form-control">
    <input type="hidden" name="csrf" value="{{ token }}">
  </div>
  <button type="submit" class="btn btn-primary">submit</button>
</form>
</div>